<aside>
    <nav class="sidebar py-2 mb-4">
       <ul class="nav flex-column" id="nav_accordion">                      
          <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> Pages <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/admin/page">All Pages </a></li>
                <li><a class="nav-link" href="/admin/page/add-page/">Add Pages </a></li>          
             </ul>
          </li>
          <!-- <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> Category <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/admin/category/">All Category </a></li>
                <li><a class="nav-link" href="/admin/category/add-category/">Add Category </a></li>               
             </ul>
          </li> -->
          <!-- <li class="nav-item">
             <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item3" href="#"> Products <i class="bi small bi-caret-down-fill"></i> </a>
             <ul id="menu_item3" class="submenu collapse" data-bs-parent="#nav_accordion">
                <li><a class="nav-link" href="/admin/products/">All Products</a></li>
                <li><a class="nav-link" href="/admin/products/add-products/">Add Products </a></li>              
             </ul>
          </li>                       -->
       </ul>
       
    </nav>
 </aside>
