<!DOCTYPE html>
<html lang="en">

<head>

  <%-include('common/head.ejs')-%>
    <title>Decorz</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <%-include('common/header.ejs')-%>

   


    
    <!-- carousel -->
    <div class="carousel">
      <!-- list item -->
      <div class="list">
          <div class="item">
              <img style="filter: brightness(50%);" src="frontent/images/slider1.jpg">
              <div class="content">
                <!-- <div class="author">LUNDEV</div> -->
                <div class="title cinzelMain" style="font-size:4rem;">CIRCLE AND <br> SHAPES IN <br> ARCHITECTURE</div>
                <!-- <div class="topic">ANIMAL</div> -->
                <div class="des faunaTextP">      
                  Lorem ipsum dolor sit amet consectetur elit.<br> 
                  Quaerat saepe quod similique.  Consequuntur, porro officiis.
                </div>
            </div>
          </div>
          <div class="item">
              <img style="filter: brightness(50%);" src="frontent/images/slider2.jpg">
              <div class="content">
                <!-- <div class="author">LUNDEV</div> -->
                <div class="title cinzelMain" style="font-size:4rem;">MODERN AND <br> THEME BASED <br> DESIGNING</div>
                <!-- <div class="topic">ANIMAL</div> -->
                <div class="des faunaTextP">      

                  Lorem ipsum dolor sit amet consectetur elit.<br> 
                  Quaerat saepe quod similique.  Consequuntur, porro officiis.
                 </div>
            </div>
          </div>
          <div class="item">
              <img style="filter: brightness(50%);" src="frontent/images/slider3.jpg">
              <div class="content">
                <!-- <div class="author">LUNDEV</div> -->
                <div class="title cinzelMain" style="font-size:4rem;">CIRCLE AND <br> SHAPES IN <br> ARCHITECTURE</div>
                <!-- <div class="topic">ANIMAL</div> -->
                <div class="des faunaTextP">  Lorem ipsum dolor sit amet consectetur elit.<br> 
                  Quaerat saepe quod similique.  Consequuntur, porro officiis.
                </div>
            </div>
          </div>
          <div class="item">
              <img style="filter: brightness(50%);" src="frontent/images/slider4.jpg">
              <div class="content">
                <!-- <div class="author">LUNDEV</div> -->
                <div class="title cinzelMain" style="font-size:4rem;">MODERN AND <br> THEME BASED <br> DESIGNING</div>
                <!-- <div class="topic">ANIMAL</div> -->
                <div class="des faunaTextP"> 
                  Lorem ipsum dolor sit amet consectetur elit.<br> 
                  Quaerat saepe quod similique.  Consequuntur, porro officiis.
                </div>
            </div>
          </div>
      </div>
      
      <div class="buttons">
        <button><i style="color: white; font-size: 1.5rem;" class="fa-brands fa-facebook"></i></button>
        <button><i style="color: white; font-size: 1.5rem;" class="fa-brands fa-instagram"></i></button>
        <button><i style="color: white; font-size: 1.5rem;" class="fa-brands fa-x-twitter"></i></button>
        <button><i style="color: white; font-size: 1.5rem;" class="fa-brands fa-whatsapp"></i></button>
      </div>
      <!-- list thumnail -->
      <div style="display: none;" class="thumbnail">
        <div class="item">
            <img src="image/img1.jpg">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="image/img2.jpg">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="image/img3.jpg">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="image/img4.jpg">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
    </div>
    <!-- next prev -->

    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
</div>

    <!-- <div class="cardParent">


      <div class="cardd text-center " >
        <div data-aos="fade-up" class="main2_txt m-15">
          <h1 class="cinzelMain">ALIVE STUDIO: BEST INTERIOR DESIGNING <br> FIRM IN GURGAON & DELHI NCR</h1>
          <p style='letter-spacing: 0.2px; font-size: 1.1rem; opacity: 60%; margin-top: 1rem;' class="faunaTextP">Alive
            Studio
            is a distinguished name in the
            architectural and interior design <br> industry that has always worked with a customer-firstapproach. Our
            team
            of <br> designers symbolizescreativity and originality combined <br>
            with innovation and elegance. Alive Studio strives to customize each project <br> as per your visions and
            ideas
            and brings out your personality in the space <br> we design. It is in our culture to infuse artistry with
            expertise and deliver <br> only the very best.</p>
          <button type="button" class="btn btn-dark p-3"><a class="text-decoration-none" style="color: white;"
              href="./contact.html"> BOOK A CONSULTANT</a></button>
        </div>
<img src="./fontent/main02.jpg" alt="">



      </div>
    </div> -->
    <!-- 
<div style="background-image: url(frontent/images/main02.jpg); height: 200vh; width: 100%; background-size: cover; object-fit: cover; background-attachment: fixed;"> -->

    </div>



    <div class="main3 p-3 pt-5 " id="main3" style="background-color:black; color: white;">

      <h1 data-aos="fade-up"style="color: wheat;"  class="text-center cinzelMain">OUR SERVICES</h1>
      <p data-aos="fade-up"  class="text-center faunaTextP">We know you are unique, and we make sure your home is
        too!</p>


      <div class=" d-flex justify-content-center">
        <div data-aos="fade-up" class="card m-3" style="width: 30rem;">
          <img src="frontent/images/main_architecture.jpg" class="card-img-top" alt="...">
         
          <div class="card-body">
            <h1 class="card-text faunaText">ARCHITECTURE</h1>
            <p class="card-text faunaTextP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos illum magnam error corrupti laudantium blanditiis nihil provident, ullam impedit quas enim ex iure illo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla.</p>
          </div>
        </div>


        <div data-aos="fade-up" class="card m-3" style="width: 30rem;">
          <img src="frontent/images/about2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-text faunaText">INTERIOR</h1>
            <p class="card-text faunaTextP">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim consequuntur cupiditate rem aut, corporis consequatur commodi. Unde enim omnis autem repellendus eaque sapiente tenetur doloribus temporibus eligendi, adipisci quaerat </p>
          </div>
        </div>
      </div>
    </div>
<!-- 
 <div style="height: 60vh; width: 100%;">
  <img class="img-fluid" style="position: fixed;
  top: 0%; /* Adjust as needed */
  left: 0%; /* Adjust as needed */
  z-index: -999;" src="frontent/images/main02.jpg" alt="">
  </div> -->
    <!-- <img  class="img-fluid position-sticky justify-content-center" src="frontent/images/main03.jpg" alt=""> -->

      
  


    <!-- <div data-aos="fade-up" class="main4 p-5  justify-content-center d-flex">
      
      <img src="frontent/images/main_architecture.jpg" class="img-thumbnail" style="width:23rem;" alt="">
      <p data-aos="fade-right" class="m-3 faunaTextP"><span
          style="font-weight: bold; font-size: 1.4rem; line-height: 3rem;"> ARCHITECT ANUPAM SINGH </span><br>
        Principal Designer <br>
        Architecture is yet another vital form of art and Alive Studio <br> carefully integrates it into its bespoke
        interior
        designing <br> services. We are a team of talented artists, painters and <br> sculptors who look to design your
        space as per
        your preference,<br> keeping the cultural relevance of the place intact <br> and bringing out the exclusive
        characteristics
        of the landscape. <br> Alive Studio is all about personalisation. We strive to build a <br>relationship with our
        clients,
        as only then can we imagine on <br> your behalf and deliver art that will interact with you. Comfort <br> and
        luxury are key
        elements of our interior designing services.
      </p>
    </div> -->


<div class="card_container_main text-center justify-content-center">
  <h1 class="cinzelMain">Our Projects</h1>
  <p class="faunaTextP">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt natus maxime odit alias obcaecati. Sit animi consequatur deleniti ipsum saepe sint commodi provident delectus?</p>
  <div class="card_container">
    
      <div class="card_m">
        <img src="frontent/images/main04.jpg" alt="">
      </div>
      <div class="card_m">
        <img src="frontent/images/main04.jpg" alt="">
      </div>
      <div class="card_m">
        <img src="frontent/images/main04.jpg" alt="">
      </div>
      <div class="card_m">
        <img src="frontent/images/main04.jpg" alt="">
      </div>
      
      
    </div>
    
  </div>







    <div class="main4  justify-content-center d-flex">
      <div class="img">
        <img src="frontent/images/main04.jpg" style="width:35rem;height: 30rem;" alt="">
      </div>
      <div  class="main4_text" data-aos="fade-right">
        <h1 class="cinzelMain">Concept & Details .</h1>
        <span style="display: block; height: 1px; width: 100%; position: relative; border: 1px solid rgba(255, 255, 255, 0.527);"></span>
        <p class="faunaTextP">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur reiciendis quod ipsum? Sit consequuntur ipsa quia fuga corporis vitae eligendi cum fugiat! Facere deleniti id nemo odit, commodi architecto pariatur perferendis ullam totam reiciendis molestiae necessitatibus voluptatem temporibus nostrum numquam laboriosam. Ad ipsa rem debitis atque quaerat est voluptatem, iste nisi deleniti suscipit autem laborum.
        </p>
      </div>
    </div>
    


    <div class="main4  justify-content-center d-flex">
     
      <div class="main4_text" data-aos="fade-left" >
        <h1 class="cinzelMain">Concept & Details .</h1>
        <span style="display: block; height: 1px; width: 100%; position: relative; border: 1px solid rgba(255, 255, 255, 0.527);"></span>
        <p class="faunaTextP">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur reiciendis quod ipsum? Sit consequuntur ipsa quia fuga corporis vitae eligendi cum fugiat! Facere deleniti id nemo odit, commodi architecto pariatur perferendis ullam totam reiciendis molestiae necessitatibus voluptatem temporibus nostrum numquam laboriosam. Ad ipsa rem debitis atque quaerat est voluptatem, iste nisi deleniti suscipit autem laborum.
        </p>
      </div>
      <div class="img">
        <img src="frontent/images/main03.jpg" style="width:35rem;height: 30rem;" alt="">
      </div>
    </div>




    <div class="faq m-1 mt-3 p-3" data-aos="fade-up">


      <h2 class="m-5" style="color: white;">Frequently Asked Questions</h2>

      <div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
        <svg xmlns="http://www.w3.org/2000/svg">
          <symbol viewBox="0 0 24 24" id="expand-more">
            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </symbol>
          <symbol viewBox="0 0 24 24" id="close">
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </symbol>
        </svg>
      </div>

      <details open>
        <summary>
          Does this product have what I need?have what I need?have what I need?
          <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
          </svg>
          <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
          </svg>
        </summary>
        <p>Totally. Totally does.</p>
      </details>

      <details>

        <summary>
          Can I use it all the time?
          <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
          </svg>
          <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
          </svg>
        </summary>
        <p>Of course you can, we won't stop you.</p>
      </details>

      <details>
        <summary>
          Are there any restrictions?
          <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
          </svg>
          <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
          </svg>
        </summary>
        <p>Only your imagination my friend. Go forth!</p>
      </details>

    </div>


  
    <!-- <div class="footer">
  <div class="footer-left">
    <h1>DECORZ</h1>

  </div>
  <div class="footer-right"></div>
</div> -->




</body>

<%-include('common/footer.ejs')-%>


</html>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    offset:250,
    duration:1000
  });
</script>
<!-- <script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script> -->

<script>
  //step 1: get DOM
let nextDom = document.getElementById('next');
let prevDom = document.getElementById('prev');

let carouselDom = document.querySelector('.carousel');
let SliderDom = carouselDom.querySelector('.carousel .list');
let thumbnailBorderDom = document.querySelector('.carousel .thumbnail');
let thumbnailItemsDom = thumbnailBorderDom.querySelectorAll('.item');
let timeDom = document.querySelector('.carousel .time');

thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
let timeRunning = 3000;
let timeAutoNext = 7000;

nextDom.onclick = function(){
    showSlider('next');    
}

prevDom.onclick = function(){
    showSlider('prev');    
}
let runTimeOut;
let runNextAuto = setTimeout(() => {
    next.click();
}, timeAutoNext)
function showSlider(type){
    let  SliderItemsDom = SliderDom.querySelectorAll('.carousel .list .item');
    let thumbnailItemsDom = document.querySelectorAll('.carousel .thumbnail .item');
    
    if(type === 'next'){
        SliderDom.appendChild(SliderItemsDom[0]);
        thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
        carouselDom.classList.add('next');
    }else{
        SliderDom.prepend(SliderItemsDom[SliderItemsDom.length - 1]);
        thumbnailBorderDom.prepend(thumbnailItemsDom[thumbnailItemsDom.length - 1]);
        carouselDom.classList.add('prev');
    }
    clearTimeout(runTimeOut);
    runTimeOut = setTimeout(() => {
        carouselDom.classList.remove('next');
        carouselDom.classList.remove('prev');
    }, timeRunning);

    clearTimeout(runNextAuto);
    runNextAuto = setTimeout(() => {
        next.click();
    }, timeAutoNext)
}


</script>

<script src="https://kit.fontawesome.com/b066f086d1.js" crossorigin="anonymous"></script>

<!-- 
<script>
  gsap.registerPlugin(ScrollTrigger);

  const locoScroll = new LocomotiveScroll({
    el: document.querySelector(".smooth-scroll"),
    smooth: true,
    lerp: 0.08,
  });

  locoScroll.on("scroll", ScrollTrigger.update);

  ScrollTrigger.scrollerProxy(".smooth-scroll", {
    scrollTop(value) {
      return arguments.length
        ? locoScroll.scrollTo(value, 0, 0)
        : locoScroll.scroll.instance.scroll.y;
    },
    getBoundingClientRect() {
      return {
        top: 0,
        left: 0,
        width: window.innerWidth,
        height: window.innerHeight,
      };
    },
    pinType: document.querySelector(".smooth-scroll").style.transform
      ? "transform"
      : "fixed",
  });

  const vw = (coef) => window.innerWidth * (coef / 100);
  const vh = (coef) => window.innerHeight * (coef / 100);

  const heroScroller = gsap.timeline({
    paused: true,
    scrollTrigger: {
      trigger: ".hero-header.h-1",
      scroller: ".smooth-scroll",
      pin: ".pin-wrapper",
      start: "top 10%",
      scrub: true,
      end: `${vh(100)}`,
    },
  });

  heroScroller
    .to(
      [".hero-header.h-1", ".hero-header.h-3"],
      {
        scale: 2,
        y: vh(150),
        xPercent: -150,
      },
      "heroScroll"
    )
    .to(
      ".hero-header.h-2",
      {
        scale: 2,
        y: vh(150),
        xPercent: 150,
      },
      "heroScroll"
    )
    .to(
      "#heroImage",
      {
        scaleY: 2.5,
      },
      "heroScroll"
    )
    .to(
      "#heroImage .image",
      {
        scaleX: 2.5,
        xPercent: 50,
      },
      "heroScroll"
    );

  ScrollTrigger.addEventListener("refresh", () => locoScroll.update());
  ScrollTrigger.refresh();
</script> -->
