<!DOCTYPE html>
<html lang="en">

<head>
  
    <%-include('common/head.ejs')-%>
  <title>Interior</title>
</head>

<body>

    <%-include('common/header.ejs')-%>

  <div class="main3 p-3 m-3" id="main3" style="background-color: #E8E4E4; margin-top: 4rem!important;">

    <h1 class="text-center" style='font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 560;
  font-style: bold;'>RESIDENTIAL</h1>
    <p class="text-center" style='font-family: "Fauna One", serif;
  font-weight: 400;
  font-style: normal; letter-spacing: 0.2px; font-size: 1.1rem;'>We know you are unique, and we make sure your home is
      too!</p>
    <div class=" d-flex justify-content-center">
      <div class="card m-3" style="width: 30rem;">
        <img src="frontent/images/6evolve-harrison2-0074-5@2x.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-text" style='font-family: "Fauna One", serif;
          font-weight: 400;
          font-style: normal; font-size: 1.2rem;'>ARCHITECTURE</h1>
          <p style='font-family: "Fauna One", serif;
          font-weight: 400;
          font-style: normal; font-size: 1rem;' class="card-text">Architectural excellence runs in our DNA. Get
            customised architectural designs for your homes,offices, penthouses or hotels. Bespoke and luxurious.</p>
        </div>
      </div>
      <div class="card m-3" style="width: 30rem;">
        <img src="frontent/images/6evolve-harrison2-0074-1@2x.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 style='font-family: "Fauna One", serif;
          font-weight: 400;
          font-style: normal; letter-spacing: 0px; font-size: 1.2rem;' class="card-text">INTERIOR</h1>
          <p style='font-family: "Fauna One", serif;
          font-weight: 400;
          font-style: normal; letter-spacing: 0px; font-size: 1rem;' class="card-text">Architectural excellence runs in
            our DNA. Get customised architectural designs.</p>
        </div>
      </div>
    </div>
  </div>
  <img class="img-fluid position-sticky" src="frontent/images/15evolve-harrison-341-1@2x.png" alt="">


  



</body>

<%-include('common/footer.ejs')-%>
</html>